.hidden{
    display: none;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border-style: dashed;
    border-color: cyan;
}

.tabla{
    display: flex;
    flex-direction: column;
    margin: 8pt;
}

#cabecera{
    display: flex;
    flex-direction: row;
    column-gap: 8pt;
    font-size: 26pt;
}

.row {
  display: flex;
}
.cell{
    flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
}