<h2>Usuarios</h2>

<p> <input
  type="text"
  [formControl]="searchControl"
  placeholder="Buscar por nombre..."
/> </p>

<p *ngIf="loading">Cargando...</p>
<p *ngIf="!loading && errorMsg">{{ errorMsg }}</p>

<ul class="list" *ngIf="!loading && !errorMsg && usuarios.length > 0">
  <li class="card" *ngFor="let u of usuariosFiltrados; trackBy: trackById">
    <div>
      <span class="name">
        {{
          expanded[u._id] || u.name.length <= 15
            ? u.name
            : (u.name | slice:0:15) + '...'
        }}
      </span>
      <button *ngIf="u.name.length > 15"
              class="btn"
              (click)="toggleExpand(u._id)">
        {{ expanded[u._id] ? 'Mostrar menos' : 'Mostrar más' }}
      </button>
      <div class="muted">ID: {{ u._id }}</div>

        <div>
      {{ u.name }}
    </div>

    <button type="button"
            class="btn"
            (click)="editar(u)">
      Editar
    </button>

    </div>

    <div class="muted">
      Organización: {{ organizacionLabel(u) }}
      <button type="button" class="btn delete-btn" (click)="confirmDelete(u._id, u.name)">X</button>
    </div>
  </li>
</ul>

<p *ngIf="!loading && !errorMsg && usuarios.length === 0">
  No hay usuarios.
</p>

<button type="button" class="btn" (click)="mostrarFormulario()">Añadir</button>
<div *ngIf="mostrarForm" class="card">

  <h3>Nuevo Usuario</h3>

  <form [formGroup]="usuarioForm" (ngSubmit)="guardar()">
    

    <label>Organización:</label>
    <select formControlName="organizacion">
    <option value="" disabled selected>Selecciona una organización</option>
    <option *ngFor="let o of organizaciones" [value]="o._id">{{ o.name }}</option>
    </select>

    <label>Nombre:</label>
    <input type="text" formControlName="name" />

    <button type="submit" class="btn" [disabled]="usuarioForm.invalid">Guardar</button>
   

  </form>

</div>
<button type="button" class="btn" (click)="load()">Recargar</button>

  