<h2>Organizaciones</h2>

<p> <input
  type="text"
  [formControl]="searchControl"
  placeholder="Buscar por nombre..."
/> </p>

<p *ngIf="loading">Cargando...</p>
<p *ngIf="!loading && errorMsg">{{ errorMsg }}</p>

<ul class="list" *ngIf="!loading && !errorMsg && organizaciones.length > 0">
  <li class="card" *ngFor="let org of organizacionesFiltradas; trackBy: trackById">

    <div>
      <span class="name">
      {{
        expanded[org._id] || org.name.length <= 15
          ? org.name
          : (org.name | slice:0:15) + '...'
      }}
      </span>

      <button *ngIf="org.name.length > 15"
              class="btn"
              (click)="toggleExpand(org._id)">
        {{ expanded[org._id] ? 'Mostrar menos' : 'Mostrar más' }}
      </button>
    </div>

    <div>
      <span class="muted">{{ org._id }}</span>

      <!-- BOTÓN EDITAR -->
      <button type="button"
              class="btn"
              (click)="editar(org)">
        Editar
      </button>

      <!-- BOTÓN ELIMINAR -->
      <button type="button"
              class="btn delete-btn"
              (click)="confirmDelete(org._id, org.name)">
        X
      </button>
    </div>

  </li>
</ul>

<p *ngIf="!loading && !errorMsg && organizaciones.length === 0">
  No hay organizaciones.
</p>

<button type="button" class="btn" (click)="mostrarFormulario()">
  Añadir
</button>

<div *ngIf="mostrarForm" class="card">

  <h3>{{ editando ? 'Editar Organización' : 'Nueva Organización' }}</h3>

  <form [formGroup]="organizacionForm" (ngSubmit)="guardar()">

    <label>Nombre:</label>
    <input type="text" formControlName="nombre" />

    <button type="submit"
            class="btn"
            [disabled]="organizacionForm.invalid">
      {{ editando ? 'Actualizar' : 'Guardar' }}
    </button>

  </form>

</div>

<button type="button" class="btn" (click)="load()">
  Recargar
</button>