<h2>Organizaciones</h2>

<!-- Buscador: buscar por nombre -->
<p> <input
  type="text"
  [formControl]="searchControl"
  placeholder="Buscar por nombre..."
/> </p>

<!-- Mensajes de estado -->
<p *ngIf="loading">Cargando...</p>
<p *ngIf="!loading && errorMsg">{{ errorMsg }}</p>

<app-detail #itemDetail />

<!-- Mensaje si no hay organizaciones -->
<ul class="list" *ngIf="!loading && !errorMsg && organizaciones.length > 0">
  <!-- Lista de organizaciones -->
  <li class="card" *ngFor="let org of organizacionesVisibles; trackBy: trackById"> 
    
    <!-- Nombre con truncado si supera de 15 caracteres y botón para expandir -->
    <div (click)="onItemClick(org._id)">
      <span class="name">
      {{
        expanded[org._id] || org.name.length <= 15
          ? org.name
          : (org.name | slice:0:15) + '...'
      }}
      </span>

      <!-- Botón para mostrar más o menos si el nombre es largo -->
      <button *ngIf="org.name.length > 15"
              class="btn"
              (click)="toggleExpand(org._id)">
        {{ expanded[org._id] ? 'Mostrar menos' : 'Mostrar más' }}
      </button>
    </div>

    <!-- ID y botones de acción -->
    <div>
      <span class="muted">{{ org._id }}</span>

      <!-- BOTÓN EDITAR -->
      <button type="button"
              class="btn"
              (click)="editar(org)">
        Editar
      </button>

      <!-- BOTÓN ELIMINAR -->
      <button type="button"
              class="btn delete-btn"
              (click)="confirmDelete(org._id, org.name)">
        X
      </button>
    </div>

  </li>
</ul>

<!-- Botones para mostrar más/menos organizaciones si supera el limite -->
<button 
  *ngIf="!mostrarTodasOrganizaciones && organizaciones.length > limite"
  class="btn"
  (click)="mostrarMas()">

  Mostrar más
</button>
<button 
  *ngIf="mostrarTodasOrganizaciones"
  class="btn"
  (click)="mostrarTodasOrganizaciones = false">

  Mostrar menos
</button>

<p *ngIf="!loading && !errorMsg && organizaciones.length === 0">
  No hay organizaciones.
</p>

<!-- Formulario para añadir/editar organización -->
<button type="button" class="btn" (click)="mostrarFormulario()">
  Añadir
</button>

<div *ngIf="mostrarForm" class="card">

  <h3>{{ editando ? 'Editar Organización' : 'Nueva Organización' }}</h3>

  <form [formGroup]="organizacionForm" (ngSubmit)="guardar()">

    <label>Nombre:</label>
    <input type="text" formControlName="nombre" />

    <button type="submit"
            class="btn"
            [disabled]="organizacionForm.invalid">
      {{ editando ? 'Actualizar' : 'Guardar' }}
    </button>

  </form>

</div>

<!-- Botón para recargar la lista -->
<button type="button" class="btn" (click)="load()">
  Recargar
</button>